replicaCount: 1

image:
  repository: hashicorp/http-echo
  tag: "0.2.3"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

route:
  host: apig.local
  path: /echo-test

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}


